@media screen and (min-width: 300px) and (max-width: 576px) {
   .logo h2{
    font-size: 22px;
   }
    nav{
    padding: 15px 40px;
   } 
   .hidden{
    display: none;
   }
   nav ul li{
    display: none;
   }
   .block{
      display: block;
      font-size: 15px;
   }
   /* banner responsive code start here  */
   .banner-items{
      padding-top: 100px;
  }
  .banner-items h4{
      font-size: 20px;
  }
  .banner-items h1{
      font-size: 80px;
      letter-spacing: 6px;
      font-weight: 700;
  }
  .banner-items h3{
      font-size: 28px;
  }
  /* first section responsive code start here */
  .welcome-items{
   padding-top: 15%;
   margin: 0 10px;
   text-align: center;
}
.welcome-items h2{
   font-size: 30px;
   margin: 10px 0;
}
.welcome-items p{
   font-size: 14px;
   line-height: 1.5;
}
}
@media screen and (min-width: 577px) and (max-width: 768px) {
   .logo h2{
      font-size: 22px;
     }
      nav{
      padding: 15px 40px;
     } 
     nav ul li{
      font-size: 15px;
     } 
     .block-2{
      display: none;
     } 
     /* banner responsive code start here  */
     .banner-items{
      padding-top: 100px;
      }
      .banner-items h4{
            font-size: 20px;
      }
      .banner-items h1{
            font-size: 120px;
            letter-spacing: 6px;
            font-weight: 700;
      }
      .banner-items h3{
            font-size: 28px;
      }
      /* first section responsive code start here */
      .welcome-items{
         padding-top: 15%;
         margin: 0 20px;
         text-align: center;
      }
      .welcome-items h2{
         font-size: 40px;
         margin: 10px 0;
      }
      .welcome-items p{
         font-size: 16px;
         line-height: 1.5;
      } 
}
@media screen and (min-width: 769px) and (max-width: 992px) {
    .logo h2{
      font-size: 22px;
     }
      nav{
      padding: 15px 40px;
     } 
     nav ul li{
      font-size: 15px;
     } 
     .block-2{
      display: none;
     }
      /* banner responsive code start here  */
      .banner-items{
         padding-top: 100px;
         }
         .banner-items h4{
               font-size: 25px;
         }
         .banner-items h1{
               font-size: 150px;
               letter-spacing: 6px;
               font-weight: 700;
         }
         .banner-items h3{
               font-size: 33px;
         }  
          /* first section responsive code start here */
      .welcome-items{
         padding-top: 15%;
         margin-left: 400px;
         margin-right: 30px;
      }
      .welcome-items h2{
         font-size: 40px;
         margin: 14px 0;
      }
      .welcome-items p{
         font-size: 16px;
         line-height: 1.5;
      }  
}
@media screen and (min-width: 993px) and (max-width: 1200px) {
   .logo h2{
      font-size: 28px;
     }
      nav{
      padding: 15px 40px;
     } 
     nav ul li{
      font-size: 16px;
     } 
      /* banner responsive code start here  */
      .banner-items{
         padding-top: 100px;
         }
         .banner-items h4{
               font-size: 25px;
         }
         .banner-items h1{
               font-size: 150px;
               letter-spacing: 6px;
               font-weight: 700;
               margin: 10px 0;
         }
         .banner-items h3{
               font-size: 33px;
         }
             /* first section responsive code start here */
      .welcome-items{
         padding-top: 10%;
         margin-left: 500px;
         margin-right: 30px;
      }
      .welcome-items h2{
         font-size: 45px;
         margin: 14px 0;
      }
      .welcome-items p{
         font-size: 17px;
         line-height: 1.5;
      }     
}